.not-found-container {
  text-align: center;
  margin: 50px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgb(13, 105, 55);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.not-found-title {
  color: #e44d26;
  font-size: 3em;
  margin-bottom: 10px;
}

.not-found-message {
  font-size: 1.2em;
  color: #fff;
}
