<h1>System Orders</h1>
<p style="margin-top: 50px; margin-bottom: 40px">
  <input
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search..."
    style="margin-bottom: 20px"
  >

  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
</p>

<table class="table">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Date</th>
    <th>Address</th>
    <th>Phone number</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders$ | async">
    <td>{{ order.shipping.name }}</td>
    <td>{{ order.orderDate | date}}</td>
    <td>{{ order.shipping.addressLine1}}</td>
    <td>{{ order.shipping.city}}</td>
    <td>
      <a
        (click)="openDialog(order.orderId)"
        style="cursor: pointer; color: blue"
      >View order</a>
    </td>
  </tr>
  </tbody>
</table>





