<h1>System Orders</h1>
<div style="margin-top: 50px; margin-bottom: 40px" fxLayout="row">
  <div fxFlex="20">
    <input
      #query1
      (input)="onCustomerInputChange($event)"
      type="text" class="form-control" placeholder="Customer..."
      style="margin-bottom: 20px"
    >

    <input
      #query2
      (input)="onAddressInputChange($event)"
      type="text" class="form-control" placeholder="Address..."
      style="margin-bottom: 20px"
    >
  </div>
  <div fxFlex="10"> </div>
  <div fxFlex="20">
    <input
      #query3
      (input)="onPhoneNumberInputChange($event)"
      type="text" class="form-control" placeholder="Phone number..."
      style="margin-bottom: 20px"
    >

    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input matInput [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="onDateChange()">
        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="onDateChange()">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Date</th>
    <th>Address</th>
    <th>Phone number</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of order">
    <td>{{ order.shipping.name }}</td>
    <td>{{ order.orderDate | date}}</td>
    <td>{{ order.shipping.addressLine1}}</td>
    <td>{{ order.shipping.city}}</td>
    <td>
      <a
        (click)="openDialog(order.orderId)"
        style="cursor: pointer; color: blue"
      >View order</a>
    </td>
  </tr>
  </tbody>
</table>





