<h1 style="color: #fff">System Orders</h1>
<div style="margin-top: 50px; margin-bottom: 40px" fxLayout="row">
  <div fxFlex="70">
    <input
      #query1
      (input)="onCustomerInputChange($event)"
      type="text" class="form-control" placeholder="Customer..."
      style="margin-bottom: 20px"
      fxFlex="20"
    >
    <div fxFlex="3"></div>
    <input
      #query2
      (input)="onAddressInputChange($event)"
      type="text" class="form-control" placeholder="Address..."
      style="margin-bottom: 20px"
      fxFlex="20"
    >

    <div fxFlex="3"></div>
    <input
      #query3
      (input)="onPhoneNumberInputChange($event)"
      type="text" class="form-control" placeholder="Phone number..."
      style="margin-bottom: 20px"
      fxFlex="20"
    >
  </div>
</div>

<div>

</div>

<table class="table">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Date</th>
    <th>Address</th>
    <th>Phone number</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of order">
    <td>{{ order.shipping.name }}</td>
    <td>{{ order.orderDate | date}}</td>
    <td>{{ order.shipping.addressLine1}}</td>
    <td>{{ order.shipping.city}}</td>
    <td>
      <a
        (click)="openDialog(order.orderId)"
        style="cursor: pointer; color: blue"
      >View order</a>
    </td>
  </tr>
  </tbody>
</table>





