Fill code we sent to your phone here
<div class="otp-container">
  <input type="text" class="otp-input" maxlength="1" id="otp1" #otp0 (input)="foCusInput()">
  <input type="text" class="otp-input" maxlength="1" id="otp2" #otp1 (input)="foCusInput()">
  <input type="text" class="otp-input" maxlength="1" id="otp3" #otp2 (input)="foCusInput()">
  <input type="text" class="otp-input" maxlength="1" id="otp4" #otp3 (input)="foCusInput()">
  <input type="text" class="otp-input" maxlength="1" id="otp5" #otp4 (input)="foCusInput()">
  <input type="text" class="otp-input" maxlength="1" id="otp6" #otp5 (input)="foCusInput()">
</div>

<div class="alert alert-danger" *ngIf="clickFail">
  <div> Otp code is incorrect! </div>
</div>

<div class="centered-button">
  <button type="button" (click)="verifyOtp()" class="complete-button" [disabled]="secondsLeft <= 0">Complete ({{ secondsLeft }}s)</button>
</div>


