<h1 style="color: #fff">My Orders</h1>
<div style="height: 40px"></div>
<div class="custom-container" fxLayoutAlign="center">
  <div class="row-custom-order" fxLayout="row wrap" fxLayoutAlign="start">
    <div class="head-name" fxLayout="row" fxFlex="100">
      <div fxFlex="5"></div>
      <div *ngFor="let col of columns let i = index" fxFlex="20">
        {{columns[i]}}
      </div>
    </div>
    <div fxFlex="100" fxLayout="row" style="height: 10px;"></div>
    <div class="body-part"
         appScrollTrack fxLayoutAlign="start"
         (scrolledToBottom)="scrolledBottom()"
         [scrollingItems]="orders.length || 0"
         *ngIf="orders && orders.length > 0; else noData"
         id="style-1">

      <div class="body-row" *ngFor="let order of orders let i = index"
           fxFlex="100" fxLayout="row wrap" style="height: 50px"
      >
        <div fxFlex="5" class="cell-data"></div>
        <div fxFlex="20" class="cell-data">
        <span class="not-link">
          {{order.shipping.name}}
        </span>
        </div>
        <div fxFlex="20" class="cell-data">
          <span class="not-link">{{ order.shipping.addressLine1 }}</span>
        </div>
        <div fxFlex="20" class="cell-data">
          <span class="not-link">{{ order.orderDate | date }}</span>
        </div>
        <div fxFlex="15" class="cell-data">
          <a class="is-link" (click)="openDialog(order.orderId)"
             style="cursor: pointer; color: #3aa94a">
            Detail
          </a>
        </div>
        <div style="height: 10px;" fxLayout="row wrap" fxFlex="100"></div>
      </div>
    </div>
    <ng-template #noData>
      <div fxFlex="17"></div>
      <div class="empty-data">You have no orders</div>
    </ng-template>
  </div>
</div>
