<div class="login-container">
  <div class="left-hs">
    <div class="accordion">
      <ul>
        <li>
          <div>
            <a href="#">
              <h2>Elite gradient</h2>
              <p>Elevate your daily nourishment with our collection of exceptional milk products crafted with utmost care and dedication. At Online Shop, we take pride in delivering dairy excellence, offering a wide range of premium milk products that are as wholesome as they are delicious.</p>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#">
              <h2>Selective starch</h2>
              <p>At Online Shop, we take pride in exploring the potential of starch gradients to elevate your dining experience. From delectable pastries to savory dishes, our menu features an array of culinary delights that highlight the diverse and fascinating world of starch gradients.
                Indulge in the mesmerizing interplay of starch concentrations, carefully curated to delight your taste buds. Whether you're a fan of sweet treats or savory sensations, our starch gradient creations offer a symphony of flavors that cater to every palate.
              </p>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#">
              <h2>Fresh vegetable</h2>
              <p>
                Fresh fruits are nature's delicious and nutritious gifts, bursting with vibrant flavors, vibrant colors, and a plethora of health benefits. From orchards to farmers' markets, fresh fruits bring a touch of nature's sweetness to our tables. Whether enjoyed as a snack, incorporated into meals, or blended into refreshing beverages, these wholesome treats are a cornerstone of a balanced and healthy diet.</p>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div style="height: 5px; color: rgba(0, 0, 0, 0.2)"></div>

    <div class="img-container" #image [style.height]="height" (mouseenter)="focusing()" (mouseleave)="focusing()">
      <a href="#" *ngIf="isFocused">
        <h2>About us</h2>
        <p>At [Your Shop Name], we go beyond the ordinary to curate a shopping environment that is both inviting and customer-centric. Our well-organized aisles, knowledgeable staff, and a wide array of high-quality products ensure that your visit is not just a chore but an enjoyable experience. Navigating through our aisles becomes a journey of discovery, where you find not just groceries but inspiration for your culinary adventures.</p>
        - Over 100 branches
        - More 20 years experience
        - Elitism gradient for products
        - Verified quality
      </a>s
    </div>
  </div>

  <div style="width: 5px;">

  </div>
  <form class="login-form" (ngSubmit)="onSubmit()"  #contentContainer>
    <img ngSrc="assets/brand.jpg" class="brand-img" height="139" width="189">
    <h2>Sign in</h2>
    <div class="form-group">
      <input #mail="ngModel" type="email" style="width: 100%;"
             placeholder="Email" id="email" name="email" [(ngModel)]="email" required email (focus)="reauthorize()">
      <div class="alert alert-danger" style="height: 40px; padding-left: 10px; padding-bottom: 33px" *ngIf="mail.touched && mail.invalid">
        <div [class.warning]="mail.errors?.['required']">Email is required.</div>
        <div *ngIf="mail.errors?.['email']">Email form is incorrect.</div>
      </div>
    </div>

    <div class="form-group">
      <input #pass="ngModel" style="width: 100%;"
             type="password" id="password" placeholder="Password" name="password" [(ngModel)]="password" required (focus)="reauthorize()">
      <div class="alert alert-danger" style="height: 40px; padding-left: 10px; padding-bottom: 33px" *ngIf="pass.touched && pass.invalid">
        <div *ngIf="pass.errors?.['required']">Password is required</div>
      </div>
    </div>

    <button type="submit" style="text-align: center; width: 100%;" class="login-button">
      Login
    </button>
    <div *ngIf="failAuthentication" class="alert alert-danger" style="text-align: center; width: 100%;">
      <div> Bad credential </div>
    </div>
    <div style="margin-top: 20px;">
      <span>
        No account?
      </span>
      <a style="color: blue; cursor:pointer;" (click)="openRegisterDialog()"> Create one</a>
    </div>
    <div>
      <span>Or login using</span>
      <div class="login-icons" style="margin: auto">
        <i class="bi bi-facebook" style="color: blue; cursor: pointer"></i>
        <i class="bi bi-twitter" style="color: deepskyblue; cursor: pointer"></i>
        <i class="bi bi-google" style="color: red; cursor: pointer"></i>
      </div>
    </div>
  </form>
</div>

