.custom-item {
  display: flex;
  min-width: 130px;
  height: 50px;
  padding-left: 10px;
  text-decoration: none;
  align-items: center;
  background-color: transparent;
  color: #fff

}

.sticky-top {
  top: 132px;
}

.custom-item:hover {
  background-color: #212529;
  color: rgb(60, 175, 75);
}

.custom-item.active {
  background-color: #212529;
  color: rgb(60, 175, 75);
}

