<h1 style="color: #fff">System Accounts</h1>
<div style="margin-top: 50px;" fxLayout="column">
  <h4 style="color: #fff">Filter</h4>
  <div fxFlex="70" fxLayout="row" fxLayoutAlign="start">
    <input
      #query1
      (keyup)="emailFilter(query1.value)"
      type="text" class="form-control" placeholder="Email..."
      style="margin-bottom: 20px"
      fxFlex="20"
    >
    <div fxFlex="5"></div>

    <input
      #query2
      (keyup)="nameFilter(query2.value)"
      type="text" class="form-control" placeholder="Name..."
      style="margin-bottom: 20px"
      fxFlex="20"
    >
    <div fxFlex="5"></div>

    <div class="custom-select-wrapper">
      <select class="custom-select" [(ngModel)]="selectedValue" (change)="roleSelectChange($event)">
        <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
      </select>
    </div>
  </div>
</div>

<div style="height: 40px"></div>

<div class="custom-container" fxLayoutAlign="center">
  <div class="row-custom-order" fxLayout="row wrap" fxLayoutAlign="start">
    <div class="head-name" fxLayout="row" fxFlex="100">
      <div fxFlex="8"></div>
      <div *ngFor="let col of columns let i = index" fxFlex="25" >
        {{columns[i]}}
      </div>
    </div>
    <div fxFlex="100" fxLayout="row" style="height: 10px;"></div>
    <div class="body-part"
         appScrollTrack fxLayoutAlign="start"
         (scrolledToBottom)="scrolledBottom()"
         [scrollingItems]="users.length || 0"
         id="style-1">

      <div class="body-row" *ngFor="let user of filteredUsers let i = index"
           fxFlex="100" fxLayout="row wrap" style="height: 50px"
      >
        <div fxFlex="8" class="cell-data"></div>
        <div fxFlex="25" class="cell-data">
        <span class="not-link">
          {{user.name}}
        </span>
        </div>
        <div fxFlex="25" class="cell-data">
          <span class="not-link">{{ user.email }}</span>
        </div>
        <div fxFlex="20" class="cell-data">
          <span class="not-link">{{ user.role }}</span>
        </div>
        <div fxFlex="8" class="cell-data">
          <i class="bi bi-trash3" (click)="deleteUser(user.name, user.email)"
             style="color: rgb(60, 175, 75);
             cursor: pointer" matTooltip="Delete account"></i>
        </div>
        <div style="height: 10px;" fxLayout="row wrap" fxFlex="100"></div>
      </div>
    </div>
  </div>
</div>


