<div class="custom-container">
  <div class="row">

    <div class="single-coupon col-xl-4 col-md-6 col-sm-12">
      <div class="sc-eFubAy iizEdg" (click)="openCouponPage('deal1')">
        <div>
          <figure class="wrap__img"><img
            src="https://cdn.gkitchen.com.vn/images?path=/promotions/file_upload-1697717015950.png&amp;format=jpg&amp;width=350&amp;height=350"
            loading="eager"></figure>
          <p class="text__title text-primaryColor font-geoslabe_extra mt-3">HÓA ĐƠN 99K MUA LẦN ĐẦU TẶNG CLB OXX
            200G</p>
          <p class="desc-coupon mt-3">G KITCHEN CHÀO BẠN MỚI

            Tặng Sản Phẩm : Chả lụa bì Ớt xiêm xanh 200g, áp dụng cho khách hàng mua tại Web/App G Kitchen với hóa đơn
            từ 99K

            Ưu đãi nhiều sản phẩm đến 30%

            Freeship cho đơn hàng từ 250k

            Săn deal cực hot từ G Kitchen tại: https://gkitchen.onelink.me/BZla/tnldwcev

            ______________________________

            - Khuyến mãi chỉ áp dụng khi mua tại website/app và Hotline 19001708

            - Chương trình áp dụng đến hết 31.12.2023

            - Số lượng ưu đãi có giới hạn.</p></div>
        <div class="flex justify-end items-center mt-4">
          <div class="cursor-pointer flex justify-end items-center"><p class="text-primaryColor">Xem thêm</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 7.48659L13.8229 12L9 16.5134L10.5885 18L17 12L10.5885 6L9 7.48659Z" fill="#3CAF4B"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="single-coupon col-xl-4 col-md-6 col-sm-12">
      <div class="sc-eFubAy iizEdg" (click)="openCouponPage('deal2')">
        <div>
          <figure class="wrap__img"><img
            src="https://cdn.gkitchen.com.vn/images?path=/promotions/file_upload-1702695007898.jpg&amp;format=jpg&amp;width=350&amp;height=350"
            loading="eager"></figure>
          <p class="text__title text-primaryColor font-geoslabe_extra mt-3">LÀNH NGON MỖI NGÀY ƯU ĐÃI MÊ SAY !!!</p>
          <p class="desc-coupon mt-3">LÀNH NGON MỖI NGÀY - ƯU ĐÃI MÊ SAY


            Cuối năm trăm nỗi bộn bề, G ưu đãi to, san sẻ nỗi lo.

            Tổ chức tiệc đầm ấm bên gia đình với giá xịn ở G Kitchen


            Ưu đãi lên đến 30% món ngon, cực phẩm: Chả lụa bì ớt xiêm xanh, Bắp giò xông khói, Giò thủ, Chả bò, Chả lụa
            bì trứng muối,...

            Giảm giá ưu đãi nhiều sản phẩm, tặng thêm mã giảm giá siêu hời.

            Mã giảm DEALNGON10, giảm 10% cho ĐH từ 449K (tối đa 69K)

            Mã giảm DEAL17H giảm 15% cho ĐH từ 749K* (tối đa 149K)*


            FREESHIP mọi hóa đơn từ 250K. Số lượng mã giảm và quà có hạn.

            Chương trình chỉ áp dụng từ ngày 01.12.2023 đến 31.12.2023

            *Áp dụng trước 17H00 mỗi ngày

            Đặt hàng ngay! Nhanh tay nhận ưu đãi!</p></div>
        <div class="flex justify-end items-center mt-4">
          <div class="cursor-pointer flex justify-end items-center"><p class="text-primaryColor">Xem thêm</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 7.48659L13.8229 12L9 16.5134L10.5885 18L17 12L10.5885 6L9 7.48659Z" fill="#3CAF4B"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="single-coupon col-xl-4 col-md-6 col-sm-12">
      <div class="sc-eFubAy iizEdg" (click)="openCouponPage('deal3')">
        <div>
          <figure class="wrap__img"><img
            src="https://cdn.gkitchen.com.vn/images?path=/promotions/file_upload-1702694304616.png&amp;format=jpg&amp;width=350&amp;height=350"
            loading="eager"></figure>
          <p class="text__title text-primaryColor font-geoslabe_extra mt-3">MUA CHẢ TRÚNG VÀNG, RỘN RÀNG CHẠM TẾT</p>
          <p class="desc-coupon mt-3">MUA CHẢ TRÚNG VÀNG – RỘN RÀNG CHẠM TẾT

            Thời gian: 8h00 ngày 16/12/2023 – 23h30 ngày 26/01/2024

            Sản phẩm khuyến mại:

            Chả lụa bì ớt xiêm xanh G 500g

            Chả lụa bì trứng muối G 500g

            Chả lụa G 500g

            Chả bò G 475 g

            Giò thủ G 475g

            Chả lụa bì Wyn 450g

            Chả lụa Wyn 450g

            Cơ cấu giải thưởng:

            14,000 giải thẻ điện thoại 10,000 đồng

            9,000 giải thẻ nạp điện thoại 20,000 đồng

            1,000 giải thẻ nạp điện thoại 50,000 đồng

            24 chỉ vàng miếng SJC 9999

            Hướng dẫn tham gia:

            Bước 1: Mua các sản phẩm khuyến mại

            Bước 2: Tìm mã dự thưởng được phủ cào ở mặt sau nhãn sản phẩm

            Bước 3: Truy cập website https://trungvang.gkitchen.com.vn/ và làm theo hướng dẫn

            Bước 4: Nhận kết quả trúng thưởng tiền điện thoại và 01 suất tham gia chương trình quay số may mắn trúng chỉ
            vàng SJC 9999 diễn ra
            hàng tuần

            Xem chi tiết thể lệ chương trình tại: https://trungvang.gkitchen.com.vn/

          </p></div>
        <div class="flex justify-end items-center mt-4">
          <div class="cursor-pointer flex justify-end items-center"><p class="text-primaryColor">Xem thêm</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 7.48659L13.8229 12L9 16.5134L10.5885 18L17 12L10.5885 6L9 7.48659Z" fill="#3CAF4B"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="single-coupon col-xl-4 col-md-6 col-sm-12">
      <div class="sc-eFubAy iizEdg" (click)="openCouponPage('deal4')">
        <div>
          <figure class="wrap__img"><img
            src="https://cdn.gkitchen.com.vn/images?path=/promotions/file_upload-1701406224562.jpg&amp;format=jpg&amp;width=350&amp;height=350"
            loading="eager"></figure>
          <p class="text__title text-primaryColor font-geoslabe_extra mt-3">CH - TẶNG ỨC GÀ 51K CHO ĐH 110K ( CITYGYM
            )</p>
          <p class="desc-coupon mt-3">Tặng Khay Ức Gà 500g Trị Giá 51K Cho Hội Viên CitiGym</p></div>
        <div class="flex justify-end items-center mt-4">
          <div class="cursor-pointer flex justify-end items-center"><p class="text-primaryColor">Xem thêm</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 7.48659L13.8229 12L9 16.5134L10.5885 18L17 12L10.5885 6L9 7.48659Z" fill="#3CAF4B"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="single-coupon col-xl-4 col-md-6 col-sm-12">
      <div class="sc-eFubAy iizEdg" (click)="openCouponPage('deal5')">
        <div>
          <figure class="wrap__img"><img
            src="https://cdn.gkitchen.com.vn/images?path=/promotions/file_upload-1685350356558.jpg&amp;format=jpg&amp;width=350&amp;height=350"
            loading="eager"></figure>
          <p class="text__title text-primaryColor font-geoslabe_extra mt-3">CHƯƠNG TRÌNH SALE LƯƠNG VỀ</p>
          <p class="desc-coupon mt-3">TING TING LƯƠNG VỀ - G KHAO LỚN!
            ⭐Ưu đãi lên đến 30%
            ⭐Mã giảm giá lên đến 120k
            - Nhập mã GKHAO60 - GIẢM 60K ĐH TỪ 400K
            - Nhập mã GKHAO120K - GIẢM 120K ĐH TỪ 600K
            ⭐ Giao hàng miễn phí cho đơn hàng từ 250K.

            - Khuyến mãi chỉ áp dụng khi mua sắm qua kênh website/app và hotline 19001708
            - Chương trình áp dụng từ ngày 27.05. 2023 đến 31.05.2023.
            - Quý khách vui lòng sử dụng sớm kẻo hết vì lượt sử dụng mã khuyến mãi có giới hạn.
            - G Kitchen có quyền từ chối tặng mã đối với các đơn hàng có dấu hiệu gian lận nhằm trục lợi.
            - Trong mọi trường hợp tranh chấp phát sinh, quyết định của G Kitchen là quyết định cuối cùng.
            - Liên hệ hotline 19001708 để biết thêm chi tiết</p></div>
        <div class="flex justify-end items-center mt-4">
          <div class="cursor-pointer flex justify-end items-center"><p class="text-primaryColor">Xem thêm</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 7.48659L13.8229 12L9 16.5134L10.5885 18L17 12L10.5885 6L9 7.48659Z" fill="#3CAF4B"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


