<form class="registration-form" (ngSubmit)="onSubmit()">
  <img ngSrc="assets/brand.jpg" class="brand-img" height="139" width="189">
  <h2>Sign up</h2>
  <div class="form-group" style="text-align: center">
    <input #emailInput #email="ngModel" type="email" placeholder="Email" id="email" name="email"
           [(ngModel)]="user.email" required email [disabled]="fulfill" (blur)="onBlur()">
    <div class="alert alert-danger" *ngIf="email.touched && email.invalid" [style.width]="alertWidth"
         style="text-align: center">
      <div *ngIf="email.errors?.['required']">Email is required.</div>
      <div *ngIf="email.errors?.['email']">Email form is incorrect.</div>
    </div>
    <div class="alert alert-danger" *ngIf="phone.touched && inValidEmail">
      <div> This email already existed!</div>
    </div>
  </div>

  <div class="form-group" style="text-align: center">
    <input #password="ngModel" type="password" id="password" placeholder="Password" name="password"
           [(ngModel)]="user.password" required minlength="6" [disabled]="fulfill">
    <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
      <div *ngIf="password.errors?.['required']">Password is required and 6 characters for minimum</div>
    </div>
  </div>

  <div class="form-group" style="text-align: center">
    <input #name="ngModel" type="text" id="name" placeholder="Name" name="name" [(ngModel)]="user.name" required
           [disabled]="fulfill">
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
      <div *ngIf="name.errors?.['required']">Name is required.</div>
    </div>
  </div>

  <div class="form-group" style="text-align: center">
    <input #phone="ngModel" type="text" id="phone" placeholder="Phone number" name="role" [(ngModel)]="user.phone"
           required [disabled]="fulfill" (focus)="typingPhoneNumber()" (blur)="completeTyping()">
    <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
      <div *ngIf="phone.errors?.['required']">Phone number is required.</div>
    </div>
    <div class="alert alert-danger" *ngIf="phone.touched && inValidPhone">
      <div> Phone number is invalid.</div>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="optRequired && !fulfill">
    <div> Please fill all the field!</div>
  </div>
  <button type="button" *ngIf="!fulfill" (click)="sendOtp()" class="register-button">Register</button>

  <div class="form-group" *ngIf="optRequired && fulfill">
    <otp-comp
      style="text-align: center"
      [user]=user
      [phoneNumber]=user.phone
    >
    </otp-comp>
  </div>

  <div style="margin-top: 10px;">
    <p>
      Already have account?
    </p>
    <a type="button" style="color: blue" mat-dialog-close>Sign in</a>
  </div>
</form>
